* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: darkolivegreen;
  color: darkcyan;
}

section .cst-menu {
  width: 300px;
}

.content {
  width: 600px;
  height: 600px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  background-color: darkgray;
}

.square span {
  display: none;
}


.square.active {
  background-color: red;
}

.hard {
  width: calc(100% / 10);
}

.medium {
  width: calc(100% / 9);
}

.easy {
  width: calc(100% / 7);
}

